{
  "presets": ["babel-preset-react-native-stage-0/decorator-support"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source",
        ["module-resolver", {
            "root": ["."],
            "alias": {
              "~/core": "../dist/core",
              "~/infrastructure": "../dist/infrastructure",
              "~/native": "../dist/native"
            }
          }
        ]
      ]
    }
  }
}